.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 10px 10px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    cursor: pointer;
    transition: all .3s ease;
}

.button:hover {
    background: rgb(231, 231, 231);
}
