.cart-wrapper{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 80vh;
}

.result-button{
    width: 350px;
}

.result{
    position: absolute;
    bottom: 80px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 20px;
    font-weight: 500;
    color: #2D2D36;
}