.main-layout{
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding-right: 25px;
    position: relative;
}

.page{
    padding: 25px 0px;
    width: 100%;
    position: relative;
}

.sidebar{
    position: relative;
}